<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sampleproject_1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".WaterReminder.NotificationWaterReminder.NotifyApplicationWaterReminder"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleProject1">
        <activity android:name=".waterTracker.SettingsWaterTracker"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".waterTracker.HomeWaterTracker"/>
        <activity
            android:name=".waterTracker.UserDetailsPageWaterTracker"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".waterTracker.HomeWaterTracker"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".waterTracker.IntroWaterTracker"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".waterTracker.SplashScreenWaterTracker"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="Water Tracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcut"/>
        </activity>

        <receiver
            android:name=".service.Restarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".service.MainActivityService"
            android:label="SSSS" />

        <service
            android:name=".service.YourService"
            android:enabled="true" />

        <activity android:name=".bloodSugarTracker.BloodSugarTrackerSettings" />
        <activity
            android:name=".bloodSugarTracker.HomePageBloodSugarTracker"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".bloodSugarTracker.SplashScreenBloodSugarTracker"
            android:label="Blood Sugar Tracker"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".sleepTracker.HomeSleepTracker"
            android:label="Sleep Tracker"></activity>
        <activity
            android:name=".PedometerExample.StepCounter"
            android:label="@string/step_counter" />
        <activity
            android:name=".weightTracker.SettingsWeightTracker"
            android:parentActivityName=".weightTracker.HomePageWeightTracker" />
        <activity
            android:name=".weightTracker.HomePageWeightTracker"
            android:launchMode="singleTop" />
        <activity android:name=".weightTracker.UserDetailsWeightTracker" />
        <activity
            android:name=".weightTracker.SplashScreenWeightTracker"
            android:label="@string/weight_tracker"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".WaterReminder.Settings"
            android:parentActivityName=".WaterReminder.HomePage" />
        <activity
            android:name=".WaterReminder.HomePage"
            android:launchMode="singleTop" />
        <activity
            android:name=".WaterReminder.IntroductionPage"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".WaterReminder.UserDetailsPage"
            android:parentActivityName=".WaterReminder.Settings" />
        <activity
            android:name=".WaterReminder.SplashScreen"
            android:label="@string/water_reminder"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Notifications.NotificationMain"
            android:launchMode="singleTop" />
        <activity
            android:name=".AddEditUserInfo"
            android:parentActivityName=".RoomDatabaseExample" />
        <activity android:name=".RoomDatabaseExample" />
        <activity android:name=".JsonPlaceHolderApi" />
        <activity
            android:name=".WaterIntakeAct"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ShowUserInfo" />
        <activity android:name=".UserInfoForm" />
        <activity
            android:name=".CalculatorUI"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".PracticeLinearLayout" />
        <activity android:name=".PracticeRelativeLayout" />
        <activity android:name=".PracticeFrameLayout" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>